/* .glass {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  mask-image: linear-gradient(to top, white 0%, white 30%, transparent 100%);

  -webkit-mask-image: linear-gradient(
    to top,
    white 0%,
    white 40%,
    transparent 80%
  );
} */

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

html {
  scrollbar-color: #555 transparent;
}
/* @media (max-width: 480px) {
  @view-transition {
    navigation: auto;
  }
  ::view-transition-group(page-content) {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

  ::view-transition-old(page-content) {
    animation-name: slide-out;
  }

  ::view-transition-new(page-content) {
    animation-name: slide-in;
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100vw);
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(0);
    }
  }
} */
