* {
  font-family: 'Poppins', sans-serif;
}
.bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}
.animate-scroll-left {
  animation: animate-scroll-left 120s linear infinite;
}

@keyframes animate-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-scroll-right {
  animation: animate-scroll-right 120s linear infinite;
}

@keyframes animate-scroll-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
/* @media (max-width: 480px) {
  .animate-scroll-top {
    animation: animate-scroll-top 40s linear infinite;
  }
  @keyframes animate-scroll-top {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-scroll-bottom {
    animation: animate-scroll-bottom 40s linear infinite;
  }
  @keyframes animate-scroll-bottom {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(50%);
    }
  }
} */
